body {
  background-color: #202020;
  color: whitesmoke;
}

.img-character {
  max-height: 200px;
  max-width: min-content;
  margin: auto;
}

.description-character{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}
