---
const response = await fetch("https://dragonball-api.com/api/characters");
const characters: any = await response.json();


interface Character {
  id: number;
  name: string;
  ki: string;
  maxKi: string;
  race: string;
  gender: string;
  description: string;
  image: string;
  affiliation: string;
}
---

<h1 class="text-center">Listado de Heroes</h1>
<div class="row mt-4">
  {
    characters.items.map((character: Character) => (
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">
        <div class="card bg-dark text-white text-center">
          <img loading="lazy" class="card-img-top img-character" src={character.image} alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">{character.name}</h5>
            <p class="card-text description-character">
              {
                character.description
              }
            </p>
            <a href={'/astro-dragon-ball/character/'+character.id} class="btn btn-primary">
              Ver a {character.name}
            </a>
          </div>
        </div>
      </div>
    ))
  }
</div>
<p>Listado de heroes</p>
